@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var saleProducts = ViewBag.SaleProducts;
	var bestSellerProducts = ViewBag.BestSellerProducts;
	var lastesProducts = Model.Products;
	var brands = Model.Brands;
	int show4 = 0;
	int show8 = 0;
	int setColorId = 0;
}
<section id="slider">
	<!--slider-->
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div id="slider-carousel" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
						<li data-target="#slider-carousel" data-slide-to="1"></li>
						<li data-target="#slider-carousel" data-slide-to="2"></li>
					</ol>

					<div class="carousel-inner" style=" margin-left: auto; margin-right: auto; margin-bottom: -20px;">
						<div class="item active" style="padding: 0;">
							<img style="    padding-top: 0;" src="/public/images/home/banner.png" class="girl img-responsive" alt="" />
						</div>
						<div class="item" style="padding: 0;">
							<img style="    padding-top: 0;" src="/public/images/home/banner.png" class="girl img-responsive" alt="" />
						</div>
						<div class="item" style="padding: 0;">
							<img style="    padding-top: 0;" src="/public/images/home/banner.png" class="girl img-responsive" alt="" />
						</div>
					</div>

					<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
						<i class="fa fa-angle-left"></i>
					</a>
					<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
						<i class="fa fa-angle-right"></i>
					</a>
				</div>

			</div>
		</div>
	</div>
</section><!--/slider-->

<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="left-sidebar">
					<div class="brands_products">
						<!--brands_products-->
						<h2>Thương hiệu</h2>
						<div class="brands-name">
							<ul class="nav nav-pills nav-stacked">
								<li><a href="/san-pham"> <b>Tất cả</b></a></li>
								@foreach (var item in brands)
								{
									<li><a href="/san-pham?id=@item.Id"><b>@item.Name</b></a></li>
								}
							</ul>
						</div>
					</div><!--/brands_products-->

					@*<div class="price-range">
						<!--price-range-->
						<h2>Lọc theo giá</h2>
						<div class="well text-center">
							<input type="text" class="span2" value="" data-slider-min="0" data-slider-max="2000000" data-slider-step="200000" data-slider-value="[0,2000000]" id="sl2"><br />
							<b class="pull-left">0</b> <b class="pull-right">2.000.000</b>
						</div>
					</div><!--/price-range-->*@

				</div>
			</div>

			<div class="col-sm-9">
				<div class="category-tab">
					<!--category-tab-->
					@*<div class="col-sm-12">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#tshirt" data-toggle="tab">Sản phẩm Khuyến mãi</a></li>
						</ul>
					</div>*@
					<div class="col-sm-12">
						<ul class="nav nav-tabs" style="background: #009727; border-bottom: none; margin-bottom: 0px;">
							<li class="active" style="margin-bottom: 1px;">
								<a style="border-radius: 0px; background: #009727; margin-bottom: -1px;font-weight: bold;">SẢN PHẨM KHUYẾN MÃI</a>
							</li>
						</ul>
					</div>
					<div class="tab-content">
						<div class="tab-pane fade active in" id="tshirt">
							<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
								<div class="carousel-inner">
									<div class="item active">
										@foreach (var item in saleProducts)
										{
											show4++;
											if (show4 <= 4)
											{
												@foreach (var color in item.ProductColors)
												{
													if (color.Quantity > 0)
													{
														setColorId = color.Id;
														break;
													}
												}
												<a href="/chi-tiet-san-pham?id=@item.Id&colorId=@setColorId">
													<div class="col-sm-3">
														<div class="product-image-wrapper">
															<div class="single-products">
																<div class="productinfo text-center">
																	<img src="/product-image/@item.Image" alt="" />
																	@if (item.SalePrice == 0)
																	{
																		<h4 style="color: #a91313;">@item.Price.ToString("N0")<sup>đ</sup></h4>
																	}
																	else
																	{
																		<div class="row">
																			<h5 style="color: silver; float:left; margin-left: 30px;"><del>@item.Price.ToString("N0")<sup>đ</sup></del></h5>
																			<h4 style="color: #a91313; float: right; margin-right: 25px;">@item.SalePrice.ToString("N0")<sup>đ</sup></h4>
																		</div>
																	}
																	<p class="dauBaCham">
																		@item.Name
																	</p>@*
															<a href="#" class="btn btn-default add-to-cart">Đã bán: @item.Sold</a>*@
																	<div class="processBar">
																		<div class="comp"></div>
																		<div class="count-number">ĐÃ BÁN <span>@item.Sold</span></div>
																	</div>
																</div>

															</div>
															@if (item.SalePrice > 0)
															{
																<img class="saleImg"   src="/public/images/home/sale.png" class="new" alt="">
															}
														</div>
													</div>
												</a>
											}
										}
									</div>
									@if(show4 > 4)
									{
										<div class="item">
											@foreach (var item in saleProducts)
											{
												show8++;
												if (show8 >= 5 && show8 <= 8)
												{
													@foreach (var color in item.ProductColors)
													{
														if (color.Quantity > 0)
														{
															setColorId = color.Id;
															break;
														}
													}
													<a href="/chi-tiet-san-pham?id=@item.Id&colorId=@setColorId">
														<div class="col-sm-3">
															<div class="product-image-wrapper">
																<div class="single-products">
																	<div class="productinfo text-center">
																		<img src="/product-image/@item.Image" alt="" />
																		@if (item.SalePrice == 0)
																		{
																			<h4 style="color: #a91313;">@item.Price.ToString("N0")<sup>đ</sup></h4>
																		}
																		else
																		{
																			<div class="row">
																				<h5 style="color: silver; float:left; margin-left: 30px;"><del>@item.Price.ToString("N0")<sup>đ</sup></del></h5>
																				<h4 style="color: #a91313; float: right; margin-right: 25px;">@item.SalePrice.ToString("N0")<sup>đ</sup></h4>
																			</div>
																		}
																		<p class="dauBaCham">
																			@item.Name
																		</p>@*
															<a href="#" class="btn btn-default add-to-cart">Đã bán: @item.Sold</a>*@
																		<div class="processBar">
																			<div class="comp"></div>
																			<div class="count-number">ĐÃ BÁN <span>@item.Sold</span></div>
																		</div>
																	</div>

																</div>
																@if (item.SalePrice > 0)
																{
																	<img class="saleImg"   src="/public/images/home/sale.png" class="new" alt="">
																}
															</div>
														</div>
													</a>
												}
											}
										</div>
									}
								</div>
								@if(show4 > 4)
								{
									<a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
										<i class="fa fa-angle-left"></i>
									</a>
									<a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
										<i class="fa fa-angle-right"></i>
									</a>
								}
							</div>
							
						</div>

						@*@foreach (var brand in ViewBag.ListProductByBrand)
						{
							<div class="tab-pane fade" id="@brand.Id">
								@foreach(var item in brand.Products)
								{
									@foreach (var color in item.ProductColors)
									{
										if (color.Quantity > 0)
										{
											setColorId = color.Id;
											break;
										}
									}
									<a href="/chi-tiet-san-pham?id=@item.Id&colorId=@setColorId">
										<div class="col-sm-2">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="/product-image/@item.Image" alt="" />
													@if (item.SalePrice == 0)
													{
														<h4 style="color: #a91313;">@item.Price.ToString("N0")<sup>đ</sup></h4>
													}
													else
													{
														<div class="row">
															<h5 style="color: silver; float:left; margin-left: 30px;"><del>@item.Price.ToString("N0")<sup>đ</sup></del></h5>
															<h4 style="color: #a91313; float: right; margin-right: 25px;">@item.SalePrice.ToString("N0")<sup>đ</sup></h4>
														</div>
													}
													<p class="dauBaCham">
														@item.Name
													</p>@*
											<a href="#" class="btn btn-default add-to-cart">Đã bán: @item.Sold</a>
													<div class="processBar">
														<div class="comp"></div>
														<div class="count-number">ĐÃ BÁN <span>@item.Sold</span></div>
													</div>
												</div>

											</div>
											@if (item.SalePrice > 0)
											{
													<img   src="/public/images/home/sale.png" class="new" alt="">
											}
										</div>
									</div>
									</a>
								}
							</div>
						}*@
					</div>
				</div><!--/category-tab-->

				

			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="recommended_items">
					<!--recommended_items-->
					@*<h2 class="title text-center">SẢN PHẨM MỚI NHẤT</h2>*@
					<div class="col-sm-12">
						<ul class="nav nav-tabs" style="background: #009727;">
							<li class="active" style="margin-bottom: 1px;">
								<a style="border-radius: 0px; background: #009727; margin-bottom: -1px;font-weight: bold;">SẢN PHẨM MỚI</a>
							</li>
						</ul>
					</div>
					@foreach (var item in lastesProducts)
					{
						@foreach (var color in item.ProductColors)
						{
							if (color.Quantity > 0)
							{
								setColorId = color.Id;
								break;
							}
						}
						<a href="/chi-tiet-san-pham?id=@item.Id&colorId=@setColorId">
							<div class="col-sm-2">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="/product-image/@item.Image" alt="" />
											@if (item.SalePrice == 0)
											{
												<h4 style="color: #a91313;">@item.Price.ToString("N0")<sup>đ</sup></h4>
											}
											else
											{
												<div class="row">
													<h5 style="color: silver; float:left; margin-left: 30px;"><del>@item.Price.ToString("N0")<sup>đ</sup></del></h5>
													<h4 style="color: #a91313; float: right; margin-right: 25px;">@item.SalePrice.ToString("N0")<sup>đ</sup></h4>
												</div>
											}
											<p class="dauBaCham">
												@item.Name
											</p>@*
										<a href="#" class="btn btn-default add-to-cart">Đã bán: @item.Sold</a>*@
											<div class="processBar">
												<div class="comp"></div>
												<div class="count-number">ĐÃ BÁN <span>@item.Sold</span></div>
											</div>
										</div>

									</div>
									@if (item.SalePrice > 0)
									{
										<img class="saleImg"   src="/public/images/home/sale.png" class="new" alt="">
									}
								</div>
							</div>
						</a>
					}
				</div><!--/recommended_items-->
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="recommended_items">
					<!--recommended_items-->
					<div class="col-sm-12">
						<ul class="nav nav-tabs" style="background: #009727;">
							<li class="active" style="margin-bottom: 1px;">
								<a style="border-radius: 0px; background: #009727; margin-bottom: -1px;font-weight: bold;">SẢN PHẨM BÁN CHẠY</a>
							</li>
						</ul>
					</div>

					@foreach (var item in bestSellerProducts)
					{
						@foreach (var color in item.ProductColors)
						{
							if (color.Quantity > 0)
							{
								setColorId = color.Id;
								break;
							}
						}
						<a href="/chi-tiet-san-pham?id=@item.Id&colorId=@setColorId">
							<div class="col-sm-2">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="/product-image/@item.Image" alt="" />
											@if (item.SalePrice == 0)
											{
												<h4 style="color: #a91313;">@item.Price.ToString("N0")<sup>đ</sup></h4>
											}
											else
											{
												<div class="row">
													<h5 style="color: silver; float:left; margin-left: 30px;"><del>@item.Price.ToString("N0")<sup>đ</sup></del></h5>
													<h4 style="color: #a91313; float: right; margin-right: 25px;">@item.SalePrice.ToString("N0")<sup>đ</sup></h4>
												</div>
											}
											<p class="dauBaCham">
												@item.Name
											</p>@*
										<a href="#" class="btn btn-default add-to-cart">Đã bán: @item.Sold</a>*@
											<div class="processBar">
												<div class="comp"></div>
												<div class="count-number">ĐÃ BÁN <span>@item.Sold</span></div>
											</div>
										</div>

									</div>
									@if (item.SalePrice > 0)
									{
										<img class="saleImg"   src="/public/images/home/sale.png" class="new" alt="">
									}
								</div>
							</div>
						</a>
					}
				</div><!--/recommended_items-->
			</div>
		</div>
	</div>
</section>