@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var lastestProduct = Model.Products;
	var bestSellerProducts = ViewBag.BestSellerProducts;
	int count6 = 0;
	int count12 = 0;
	int setColorId = 0;
}

<section id="slider">
	<!--slider-->
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div id="slider-carousel" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
						<li data-target="#slider-carousel" data-slide-to="1"></li>
						<li data-target="#slider-carousel" data-slide-to="2"></li>
					</ol>

					<div class="carousel-inner" style=" margin-left: auto; margin-right: auto;">
						<div class="item active">
							<img src="https://w.ladicdn.com/6381c31b28155d0012aa38a2/top-make-up-min-20230317025827-fktt5.jpg" class="girl img-responsive" alt="" />
						</div>
						<div class="item">
							<img src="https://w.ladicdn.com/6381c31b28155d0012aa38a2/top-make-up-min-20230317025827-fktt5.jpg" class="girl img-responsive" alt="" />
						</div>
						<div class="item">
							<img src="https://w.ladicdn.com/6381c31b28155d0012aa38a2/top-make-up-min-20230317025827-fktt5.jpg" class="girl img-responsive" alt="" />
						</div>
					</div>

					<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
						<i class="fa fa-angle-left"></i>
					</a>
					<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
						<i class="fa fa-angle-right"></i>
					</a>
				</div>

			</div>
		</div>
	</div>
</section><!--/slider-->

<section>
	<div class="container">
		<div class="row">
			@*<div class="col-sm-3">
				<div class="left-sidebar">
					<div class="brands_products">
						<!--brands_products-->
						<h2>Thương hiệu</h2>
						<div class="brands-name">
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#"> <span class="pull-right">(100)</span>Tất cả</a></li>
								<li><a href="#"> <span class="pull-right">(56)</span>Chang Makeup</a></li>
								<li><a href="#"> <span class="pull-right">(27)</span>Focallure</a></li>
								<li><a href="#"> <span class="pull-right">(32)</span>Black Rouge</a></li>
							</ul>
						</div>
					</div><!--/brands_products-->

					<div class="price-range">
						<!--price-range-->
						<h2>Lọc theo giá</h2>
						<div class="well text-center">
							<input type="text" class="span2" value="" data-slider-min="0" data-slider-max="2000000" data-slider-step="200000" data-slider-value="[0,2000000]" id="sl2"><br />
							<b class="pull-left">0</b> <b class="pull-right">2.000.000</b>
						</div>
					</div><!--/price-range-->

				</div>
			</div>*@

			<div class="col-sm-12">
				<div class="category-tab">
					<!--category-tab-->
					<div class="col-sm-12">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#tshirt" data-toggle="tab">THƯƠNG HIỆU</a></li>
							@*<li><a href="#blazers" data-toggle="tab">Chang Makeup</a></li>
							<li><a href="#sunglass" data-toggle="tab">Focallure</a></li>
							<li><a href="#kids" data-toggle="tab">Black Rouge</a></li>*@
							@foreach (var item in ViewBag.ListProductByBrand)
							{
								<li><a href="#@item.Id" data-toggle="tab">@item.Name</a></li>
							}
						</ul>
					</div>
					<div class="tab-content">
						<div class="tab-pane fade active in" id="tshirt">
							@foreach(var item in lastestProduct)
							{
								@foreach (var color in item.ProductColors)
								{
									if (color.Quantity > 0)
									{
										setColorId = color.Id;
										break;
									}
								}
								<a href="/Product/Detail?id=@item.Id&colorId=@setColorId">
									<div class="col-sm-2">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="/product-image/@item.Image" alt="" />
													@if (item.SalePrice == 0)
													{
														<h4 style="color: #a91313;">@item.Price.ToString("N0")<sup>đ</sup></h4>
													}
													else
													{
														<div class="row">
															<h5 style="color: silver; float:left; margin-left: 30px;"><del>@item.Price.ToString("N0")<sup>đ</sup></del></h5>
															<h4 style="color: #a91313; float: right; margin-right: 25px;">@item.SalePrice.ToString("N0")<sup>đ</sup></h4>
														</div>
													}
													<p class="dauBaCham">
														@item.Name
													</p>@*
												<a href="#" class="btn btn-default add-to-cart">Đã bán: @item.Sold</a>*@
													<div class="processBar">
														<div class="comp"></div>
														<div class="count-number">ĐÃ BÁN <span>@item.Sold</span></div>
													</div>
												</div>

											</div>
											@if (item.SalePrice > 0)
											{
												<img style="margin-right: 15px;" src="/public/images/home/sale.png" class="new" alt="">
											}
										</div>
									</div>
								</a>
							}
						</div>

						@foreach (var brand in ViewBag.ListProductByBrand)
						{
							<div class="tab-pane fade" id="@brand.Id">
								@foreach(var item in brand.Products)
								{
									@foreach (var color in item.ProductColors)
									{
										if (color.Quantity > 0)
										{
											setColorId = color.Id;
											break;
										}
									}
									<a href="/Product/Detail?id=@item.Id&colorId=@setColorId">
										<div class="col-sm-2">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="/product-image/@item.Image" alt="" />
													@if (item.SalePrice == 0)
													{
														<h4 style="color: #a91313;">@item.Price.ToString("N0")<sup>đ</sup></h4>
													}
													else
													{
														<div class="row">
															<h5 style="color: silver; float:left; margin-left: 30px;"><del>@item.Price.ToString("N0")<sup>đ</sup></del></h5>
															<h4 style="color: #a91313; float: right; margin-right: 25px;">@item.SalePrice.ToString("N0")<sup>đ</sup></h4>
														</div>
													}
													<p class="dauBaCham">
														@item.Name
													</p>@*
											<a href="#" class="btn btn-default add-to-cart">Đã bán: @item.Sold</a>*@
													<div class="processBar">
														<div class="comp"></div>
														<div class="count-number">ĐÃ BÁN <span>@item.Sold</span></div>
													</div>
												</div>

											</div>
											@if (item.SalePrice > 0)
											{
													<img style="margin-right: 15px;" src="/public/images/home/sale.png" class="new" alt="">
											}
										</div>
									</div>
									</a>
								}
							</div>
						}
					</div>
				</div><!--/category-tab-->

				<div class="recommended_items">
					<!--recommended_items-->
					<h2 class="title text-center">SẢN PHẨM BÁN CHẠY NHẤT</h2>

					<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">
							<div class="item active">
								@foreach (var item in bestSellerProducts)
								{
									count6++;
									if (count6 <= 6)
									{
										@foreach (var color in item.ProductColors)
										{
											if (color.Quantity > 0)
											{
												setColorId = color.Id;
												break;
											}
										}
										<a href="/Product/Detail?id=@item.Id&colorId=@setColorId">
											<div class="col-sm-2">
											<div class="product-image-wrapper">
												<div class="single-products">
													<div class="productinfo text-center">
														<img src="/product-image/@item.Image" alt="" />
														@if (item.SalePrice == 0)
														{
															<h4 style="color: #a91313;">@item.Price.ToString("N0")<sup>đ</sup></h4>
														}
														else
														{
															<div class="row">
																<h5 style="color: silver; float:left; margin-left: 30px;"><del>@item.Price.ToString("N0")<sup>đ</sup></del></h5>
																<h4 style="color: #a91313; float: right; margin-right: 25px;">@item.SalePrice.ToString("N0")<sup>đ</sup></h4>
															</div>
														}
														<p class="dauBaCham">
															@item.Name
														</p>@*
												<a href="#" class="btn btn-default add-to-cart">Đã bán: @item.Sold</a>*@
														<div class="processBar">
															<div class="comp"></div>
															<div class="count-number">ĐÃ BÁN <span>@item.Sold</span></div>
														</div>
													</div>

												</div>
												@if (item.SalePrice > 0)
												{
														<img style="margin-right: 15px;" src="/public/images/home/sale.png" class="new" alt="">
												}
											</div>
										</div>
										</a>
									}
								}
							</div>
							<div class="item">
								@foreach (var item in bestSellerProducts)
								{
									count12++;
									if (count12 >= 7 && count12 <= 12)
									{
										<a href="/Product/Detail?id=@item.Id">
											<div class="col-sm-2">
											<div class="product-image-wrapper">
												<div class="single-products">
													<div class="productinfo text-center">
														<img src="/product-image/@item.Image" alt="" />
														@if (item.SalePrice == 0)
														{
															<h4 style="color: #a91313;">@item.Price.ToString("N0")<sup>đ</sup></h4>
														}
														else
														{
															<div class="row">
																<h5 style="color: silver; float:left; margin-left: 30px;"><del>@item.Price.ToString("N0")<sup>đ</sup></del></h5>
																<h4 style="color: #a91313; float: right; margin-right: 25px;">@item.SalePrice.ToString("N0")<sup>đ</sup></h4>
															</div>
														}
														<p class="dauBaCham">
															@item.Name
														</p>@*
												<a href="#" class="btn btn-default add-to-cart">Đã bán: @item.Sold</a>*@
														<div class="processBar">
															<div class="comp"></div>
															<div class="count-number">ĐÃ BÁN <span>@item.Sold</span></div>
														</div>
													</div>

												</div>
												@if (item.SalePrice > 0)
												{
														<img style="margin-right: 15px;" src="/public/images/home/sale.png" class="new" alt="">
												}
											</div>
										</div>
										</a>
									}
								}
							</div>
						</div>
						<a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
				</div><!--/recommended_items-->

			</div>
		</div>
	</div>
</section>