@using LadyFirstShop.Data.Response;
@model PagedResult<LadyFirstShop.Data.ViewModel.ProductViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int count = 0;
}
@section Scripts{
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 3000);
    </script>
}
<style>
    .pagination{
        display: inline-block;
        margin-bottom: 25px;
        margin-top: 0;
        padding-left: 15px;
    }
    .pagination>li {
        display: inline;
        padding: 0px 5px;
        background: silver;
    }
    .pagination>li>a {
        color: black;
    }
    .pagination li:first-child a, .pagination li:first-child span {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        margin-left: 0;
    }
    .baCham {
        overflow: hidden; text-overflow: ellipsis;
        white-space: nowrap;
        width: 380px;
        display: block;
    }
</style>
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-10">
                    <div class="table-responsive table--no-card m-b-30">
                        @if (ViewBag.SuccessMsg != null)
                        {
                            <div id="msgAlert" class="alert alert-success" role="alert">
                                @ViewBag.SuccessMsg
                            </div>
                        }
                        <table class="table table-borderless table-striped table-earning" style="font-size: 14px;">
                            <thead>
                                <tr>
                                    <th>Tên sản phẩm</th>
                                    <th>Thương hiệu</th>
                                    <th class ="text-right">Giá bán</th>
                                    <th class="text-center">Đã bán</th>
                                    <th class="text-center">Sẵn hàng</th>
                                    <th class="text-center">Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var item in Model.Items)
                                {
                                    <tr>
                                        <td class="baCham">
                                            @item.Name
                                        </td>
                                        <td>@item.BrandName</td>
                                        <td class="text-right">@item.Price.ToString("N0")<sup>đ</sup></td>
                                        <td class="text-center">@item.Sold</td>
                                        <td class="text-center">@item.Quantity</td>
                                        <td class="text-center">
                                           <div class="table-data-feature">
                                                <button class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Sửa">
                                                        <a href="/Admin/Product/Update?id=@item.Id"><i class="zmdi zmdi-edit"></i></a>
                                                </button>
                                                <button class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Xóa">
                                                        <a href="/Admin/Product/DeleteProduct?id=@item.Id"><i class="zmdi zmdi-delete"></i></a>
                                                </button>
                                                <button class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Màu sắc">
                                                        <a href="/Admin/Product/CreateProductColor?id=@item.Id"><i class="zmdi zmdi-more"></i></a>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <ul class="pagination">
                        @for (int i = 1; i <= Model.PageCount; i++)
                        {
                            if (Model.PageIndex == i)
                            {

                                <li class="active" style="background: #ffbc00;">@i</li>
                            }
                            else
                            {
                                <li><a href="/Admin/Product/Index?pageIndex=@i">@i</a></li>
                            }
                        }
                        @{
                            int nextPage = 0;
                            if (Model.PageIndex + 1 <= Model.PageCount)
                            {
                                nextPage = Model.PageIndex + 1;
                            }
                            else
                            {
                                nextPage = Model.PageIndex;
                            }
                        }
                        @if (Model.PageIndex < Model.PageCount)
                        {
                            <li><a href="/Admin/Product/Index?pageIndex=@nextPage">&raquo;</a></li>
                        }

                    </ul>
                </div>
                <div class="col-lg-2">
                    <!-- TOP CAMPAIGN-->
                    <div class="top-campaign">
                        <center><a style="float: center; margin-top: -25px; margin-bottom: 10px;" href="/Admin/Product/Create" type="button" class="btn btn-success">THÊM SẢN PHẨM</a></center>
                        <br />
                        <h4 class="title-15 m-b-30">Thương hiệu</h4>
                        <div class="table-responsive">
                            <table class="table table-top-campaign">
                                <tbody>
                                    @foreach (var item in ViewBag.CountProduct)
                                    {
                                        count = count + item.Total;
                                        <tr>
                                            <td><a href="/Admin/Product/Index?brandId=@item.Id">@item.BrandName</a></td>
                                            <td class="text-right">@item.Total</td>
                                        </tr>
                                    }
                                    <tr>
                                        <td><a href="/Admin/Product/">Tất cả</a></td>
                                        <td class="text-right">@count</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--  END TOP CAMPAIGN-->
                </div>
            </div>
            
        </div>
    </div>
</div>

